body {
  margin: 0;
  padding: 0;
  font-family: var(--fontText);
  background: url("../../public/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  position: relative;
}
* {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px #efefef;
    border-radius: 10px;
    color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
    &:active {
      background: white;
    }
  }
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "SF";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
}
:root {
  --fontText: "SF";
  --primary: #5cb85c;
}
.MuiMenu-list {
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: var(--fontText);
    gap: 10px;
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      transition: 0.2s;
    }
    a:hover {
      color: var(--primary);
    }
    a.active {
      color: var(--primary);
    }
    p {
      margin: 0;
    }
  }
}
