#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #efefef;
  padding-top: 150px;
  padding-bottom: 50px;
  align-items: center;
  &>h3{
    align-self: flex-start;
    margin-left: 10%;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;
  }
}
