#home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  div {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 50px;
    text-shadow: 1px 1px 15px black;
  }
  h3{
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Gumela';
    font-style: italic;
    text-shadow: 1px 1px 15px black;
  }
  & > svg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  // &::before{
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 100px;
  //   top: calc(100% - 100px);
  //   left: 0;
  //   background: linear-gradient(to top, rgba($color: #fefefe, $alpha: 0.4), transparent);
  // }
}
#content {
  background: #dfdbdb;
  backdrop-filter: blur(2px);
  height: 200vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    bottom: 150vh;
    height: 200vh;
    object-fit: cover;
  }
  #text-content {
    position: relative;
    width: 80vw;
    h4 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    & > svg {
      position: absolute;
      bottom: 150vh;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
