nav#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 40px);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba($color: #dfdbdb, $alpha: 0.3);
  backdrop-filter: blur(3px);
  box-shadow: 10px 0px 20px rgba($color: #000000, $alpha: 0.5);
  z-index: 2;
  transition: 0.5s;
  #logo{
    img{
      width: 200px;
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-inline-start: 0px;
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      transition: 0.2s;
    }
    a:hover{
        color: var(--primary);
    }
    a.active {
      color: var(--primary);
    }
  }
}
